.task-form-css{
    width: 300px;
}

.task-form-css textarea{
    width:50%
}

mat-form-field .textarea{
    width: 100%;
}

.result{
    text-align: center;
}

mat-dialog-actions{
    text-align: center;
    padding-left: 65px;
}