<div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="text-align: center;">
        <form [formGroup]="form" class="login-form-css">
            <div class="heading">Log In</div>
            <mat-form-field>
                <mat-label>UserName</mat-label>
                <input formControlName="name" matInput/>
            </mat-form-field>
            <div *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">Name required !!!</div>
                <div *ngIf="name.errors.nameValidation">Name can only contain alphabets !!!</div>
            </div><br/>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput/>
            </mat-form-field>
            <div *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors.required">Password required !!!</div>
                <div *ngIf="password.errors.pattern">Not a valid Password !!!</div>
            </div><br/>
            <div style="text-align: center;">
            <button mat-raised-button color="warn">Cancel</button>
            <button mat-raised-button color="primary" (click)="loggingInUser(form)">Log In</button>
        </div>
        </form>
    </div>
</div>


