button :hover{
    transform: scale(1.5) perspective(1px)
}
.add{
    text-align: center;
    margin-top: 100px;
}

.panel{
  margin: 100px;

}
.modification{
  text-align: center;
}
.example-margin {
  margin: 0 10px;
}

.details{
  font-weight: bolder;
  font-size: medium;
}
span{
  margin-left: 50px;
}
table{
  width: 80%;
  margin-top: 100px;
}

/*table td span{
  color: blue;
  width:20px;
   white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}*/