
<mat-toolbar color="primary">

    <span><a routerLink="/home" class="home">To Do List Web Application</a></span>
    <span class="example-spacer"></span>
    <div *ngIf="isLogin | async; else val" >
        <pre><b style="font-weight: bolder; font-size: x-large; color: aliceblue; padding-top: 50px;">{{getUserName()}}</b>  <button mat-raised-button  (click)="logout()">Log Out</button></pre> 
    </div>
    <ng-template #val>
        <button mat-raised-button routerLink="/login">Log In</button>
        <button mat-raised-button routerLink="/signup">Sign Up</button>
    </ng-template>  
</mat-toolbar>

