.signup-form-css{
    margin-top: 100px;
    border-style: solid;
    border-radius: 10%;
    border-color: black;
    border-width: 1px;

    padding-top: 20px;
    padding-bottom: 30px;
    width: auto;
}
.signup-form-css .heading{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.signup-form-css mat-form-field{
    
    padding: 10px;
    width: 70%;
}

.signup-form-css button{
    margin-left: 20px;
}

.result{
    text-align: center;
}